.bannere {
    width: 100%;
    height: 175px;
    object-fit: cover;
}
.mobile{
    display: none;
}
@media (max-width: 768px) {
    .articles{
    padding-top: 0;
}
    
.see-all-content{
    display: none;
        margin: auto;

}
.mobile{
    display: flex;
}
}



/*à la une*/
.title-section {
  display: flex;
  align-items: center; /* Aligne verticalement le titre et le lien */
  justify-content: space-between; /* Espace entre le titre et le lien */
}

.objectifs {
    /*color: rgb(47, 64, 119);*/
    color: rgb(0, 0, 145);
}

.poles {
    color: white;
    color: rgb(0, 0, 145);
    background-color: rgb(227, 227, 253);
}
.valeurs {
    color: rgb(0, 0, 145);
    background-color: rgb(193, 193, 253);
}





.container {
    width: 90%;
    max-width: 1100px;

    display: flex;
    justify-content: space-between;
    margin: auto;
}

.column {
    width: 48%;
}

@media (max-width: 768px) {
    .container {
    max-width: 90vw;
}
}






.column {
    width: 48%;
}








/* Structure de base */
.articles {
  display: flex;
  gap: 2rem;
}

.articles2 {
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    gap: 1rem; /* Espace entre les colonnes */
}

.column {
  flex: 1;
}

.column h2 {
  color: #333;
  margin-bottom: 1rem;
}

.column{
display: flex;
  flex-direction: column;
  gap: 20px;
  /* Espace vertical entre les articles */
}

.column2 {
    flex: 1; /* Permet à chaque colonne de prendre la même largeur */
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espace entre les articles dans chaque colonne */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Les colonnes passent en mode colonne */
    }

    .column {
        width: 100%; /* Chaque colonne prend toute la largeur */
        margin: 10px 0; /* Marge verticale entre les colonnes */
    }
}


/* Media Query pour écrans mobiles */
@media (max-width: 768px) {
  .articles {
    flex-direction: column;
  }
  .container{
    padding: 15px;
  }
}



/* Styles pour la section pleine largeur avec l'image */
.overlay-section {
    width: 100%;
    height: 330px;
    overflow: hidden;
    position: relative;
    padding: 0;
}


.poles a {
    text-decoration: underline;
}

.overlay-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.overlay-container{
    max-width: 1100px;
    margin: auto;
}

.overlay-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garde les proportions */
    z-index: -1; /* Met l'image en arrière-plan */
}


/* Style pour la zone rectangulaire superposée */
.overlay {
    position: absolute;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: rgb(47, 64, 119); /* Fond bleu */
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}
@media (max-width: 768px) {

/*
    .overlay-section, .overlay-container {
        width: 100%;
    }   
    .overlay{
        width: 90%;
        margin: auto;
    }
*/

    .overlay-section {
  position: relative;
  height: 500px;
}
/* Conteneur de l'overlay */
.overlay-container {
  position: relative; /* Position relative pour contrôler l'overlay */
  z-index: 10; /* Pour que l'overlay soit au-dessus de l'image */

}
.overlay{
    height: 325px;
}



    /*<section class="overlay-section">
                <div class="overlay-container">
                    <div class="overlay">*/
}

/* Styles des titres et paragraphes dans la zone rectangulaire */
.overlay h2 {
    margin-top: 0;
    font-size: 24px;
    color: #fff;
}

.overlay h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #fff;

}

.overlay p {
    font-size: 16px;
    line-height: 1.6;
}

